# LLM 配置（OpenAI 兼容协议）
OPENAI_BASE_URL=https://api.deepseek.com/anthropic
OPENAI_API_KEY=sk-14f0438ba29d4efcbfbd72e2f54cc596
LLM_MODEL=deepseek-v4-pro

# Tavily 搜索
TAVILY_API_KEY=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
